body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00315c;
}


#sign-in-title {
    color: #7FDBFF;
    text-shadow: 2px 2px #0074D9;
    font-size: 50px;
}

form {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    border: 3px solid black;
    padding: 30px;
    width: 300px;
    height: 300px;
    box-shadow: 8px 8px #0074D9;
    background-color: #7FDBFF;
    position: absolute;
    left: 40%;
    top: 20%;
}

input {
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    box-shadow: 3px 3px #0074D9;
    border: 3px solid black;
    font-size: large;
}

input[type="submit"] {
    margin-left: 70px;
    font-size: large;
    position: absolute;
}

#answerText {
    color: #7FDBFF;
    background-color: #00315c;
}